* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #e2b5e0;
  color: hsl(0, 0%, 22%);
  font-size: 1.15rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-size: 1rem;
  color: #a900a1;
  font-weight: bold;

}
.flex {
  display: flex;
}
.img {
  display: block;
  margin: auto;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  border-radius: 5px;
}
h2{
font-size:2rem;
}
/* header */
header {
  flex-direction: column;
  align-items: center;
  height: 6rem;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #e2b5e0;
  opacity: 0.7;
}
header h1 {
  font-family: "Salsa", cursive;
  color: #a900a1;
  font-size: 2.5rem;
}
header a:hover{
color: #570055;
}
.nav {
  width: 50%;
  justify-content: space-between;
}
.btn {
  color: white;
  background-color: #a900a1;
  text-align: center;
  text-shadow: 1px 1px 2px #330031;
  background-image: linear-gradient(
    160deg,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.6),
    inset -1px -1px 3px rgba(0, 0, 0, 0.6);
  padding: 1rem 1.5rem;
  border-radius: 20px;
}
.btn:hover {
  background-color: rgb(220, 0, 209);
}
.btn:active {
  box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.6),
    inset 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* main */
main {
  padding-top: 6rem;
}
/* početna */
#pocetna {
  align-items: center;
  justify-self: flex-start;
  background-image: url("/brush.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40rem;
}
#pocetna .content {
  margin-left: 10%;
}
#pocetna h2,
#pocetna h4{
  color: #e8d4e7;
  text-shadow: 1px 1px 2px #330031;
}
#pocetna h2 {
  font-size: 3rem;
}
#pocetna h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
/* usluge */
#usluge{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#usluge .text-content{
  width: 90%;
  margin: auto;
  text-align: center;
  padding-bottom: 1rem;
}
h2{
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
  color: #a900a1;
}
#usluge .content {
  margin: auto;
  width: 90%;
}
#usluge .services {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
#usluge .service {
  flex-direction: column;
  margin:1rem ;
  height: 14rem;
  width: 17rem;
  align-items: center;
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);

  padding: 0.5rem;
}

/* our-team */
#our-team {
margin-bottom:2rem ;
text-align: center;
}
#our-team p{
  font-size: 1rem;
  font-style: italic;
}

.team{
  width: 100%;
  justify-content: center;
  background-image: url("/salon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2rem;
  flex-wrap: wrap;
}
.person{
  margin: 1rem;
  text-align: center;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);

}
.img-container{
  width: 12rem;
  height: 14rem;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.6);
 
}
.marija{
  background-image:url("/makeup-artist.jpg") ;

}
.jovana{
  background-image: url("/nail-artist.jpg");
}
.isidora{
  background-image: url("/massage-expert.jpg");
  background-position: center;
}
/* contact */
#contact{
  min-height: 10rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contact-info h5{
  padding-left: 1rem;
}
/* footer */
footer p{
  text-align: center;
  padding: 1rem 0;
  opacity: 0.6;
  font-size: .8rem;
}
@media only screen and (max-width: 600px) {
   header h1{
    font-size: 2.2rem;
  }
  a{
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 425px) {
  header h1{
   font-size: 2rem;
 }
 a{
   font-size: 0.6rem;
 }
}
