* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(255, 114, 94, 0.1);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 2rem auto 0;
  position: relative;
  height: 2rem;
}
nav ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-family: inherit;
}

#main-nav ul {
  display: flex;
}
#main-nav ul li,
#logo a {
  padding: 0.25rem 0.75rem;
  margin: 0 0.25rem;
  background-color: #ff725e;
  border-radius: 5px;
}
header a {
  color: white;
}
section {
  max-width: 90%;
  margin: 0 auto;
}
#main-section {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-section h1 {
  color: #f43e26;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
#main-section p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-align: justify;
}
#main-section .button {
  padding: 0.75rem 1.25rem;
  background-color: #ff725e;
  border-radius: 5px;
  width: 20rem;
  margin: auto;
}
.button a {
  color: white;
  display: block;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

#main-section .left {
  width: 40%;
}
#main-section .right {
  width: 80%;
}

#about-form {
  display: flex;
  height: auto;
  margin: 2rem auto;
}
#about-form .about {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
}
#about-form .about h2 {
  color: #f43e26;
  font-size: 2rem;
  margin-bottom: 2rem;
}
#about-form .about p {
  font-size: 1.05rem;
  margin-bottom: 1rem;
}
#about-form .left {
  width: 25%;
}
#about-form .middle {
  width: 45%;
}
#about-form .middle p {
  text-align: center;
}
#about-form .right {
  width: 30%;
}
.about-ul li {
  margin: 0 1rem;
  padding: auto 1rem;
  font-size: 1.05rem;
  color: #f43e26;
}

table,
th,
td {
  border: 3px solid gray;
  border-collapse: collapse;
  font-family: monospace;
}
th,
td,
tr {
  padding: 0.25rem;
}
th {
  color: #f43e26;
}
strong {
  color: #f43e26;
}
.right form {
  padding: 1rem;
  border: 3px solid #f43e26;
  background-color: #f99a8d;
  width: 100%;
  height: 100%;
}
#form-attributes {
  display: flex;
  justify-content: space-around;
  margin: 4rem auto 2rem auto;
}
#form-attributes .form-attributes {
  width: 40rem;
}
#form-attributes .form-attributes table {
  width: 100%;
  height: 100%;
}
#form-attributes .form-attributes table th,
#form-attributes .form-attributes table tr,
#form-attributes .form-attributes table td {
 font-size: 1.05rem;
 padding: 0.25rem 1rem;
}
#form-attributes .form-attributes table th{
  background-color: #f99a8d;
  color: white;
}
#form-attributes .form-attributes table tr{
  background-color: #fadbd7;
}
@media (max-width: 64rem) {
  #main-section h1 {
    font-size: 2rem;
  }
  #main-section p {
    font-size: 1rem;
  }
  #main-section .button {
    width: 15rem;
  }
  .button a {
    font-size: 1rem;
  }
  #about-form{
    margin-top: 4rem;
  }
}
@media (max-width:56rem) {
  #about-form{
    flex-direction: column;
  }
  #about-form .about{
    width: 100%;
  }
  #form-attributes{
    flex-direction: column;
  }
  #form-attributes .form-attributes{
    width: 100%;
    margin: 1rem auto;
  }
}
@media(max-width:37.5rem){
  #main-section{
    flex-direction: column;
    margin:1rem auto;
  }
  #main-section .main{
 width: 100%;
    }
  #main-section .left{
  order: 1;
  }
  #main-section .right{
    order: 0;
    }
}
